<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>
  <body>
    <h1>Your Task list</h1>
    <table class="table">
      <tr>
        <th>Task Name</th>
        <th>Completed</th>
        <th>Delete??</th>
      </tr>
      {% for item in all_items %}
      <tr>
        <td>{{ item.task }}</td>
        <td>{{ item.completed }}</td>
        <td><a href="{% url 'delete' item.id %}"> Delete </a></td>
      </tr>
      {% endfor %}
    </table>
    <br>


    <form class="form-label" action="{% url 'home' %}" method="post">
      {% csrf_token %}
      <div class="mb-3">
      <br><label for="task" class="form-label">Task</label> <br>
      <input class="form-label" type="text" name="task" value="" placeholder="Enter Task.."><br>
      </div>

      <div class="mb-3">
      <label for="priority" class="form-label">Priority</label> <br>
      <input type="text" name="priority" value="" placeholder="Enter priority.."><br>
      </div>

      <input type="submit" class="btn btn-primary" value="Submit"><br>

      {% if messages %}
        {% for message in messages %}
          <h3>{{message}}</h3>
        {% endfor %}
      {% endif %}

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
